<!doctype html>
<html lang="en" class="h-full antialiased">
  <head>
    <%= partial "partials/head_meta_tags" %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag "code_highlighting" %>
    <%= javascript_include_tag "site" %>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="5dde56bc-9822-4d4c-a606-0bd521350c76"></script>
  </head>
  <body class="flex h-full bg-zinc-50">
    <div class="flex w-full">
      <div class="fixed inset-0 flex justify-center sm:px-8">
        <div class="flex w-full max-w-7xl lg:px-8">
          <div class="w-full bg-white ring-1 ring-zinc-100"></div>
        </div>
      </div>
      <div class="relative flex w-full flex-col">
        <%- partial "partials/header" %>
        <main clas="flex-auto">
          <div class="sm:px-8 mt-12 lg:mt-16">
            <div class="relative px-4 sm:px-8 lg:px-12">
              <div class="mx-auto w-full max-w-7xl lg:px-8">
                <div class="relative px-4 sm:px-8 lg:px-12">
                  <div class="mx-auto max-w-2xl lg:max-w-5xl">
                    <%= yield %>
                  </div>
                </div>
              </div>
            </div>
            <div class="mx-auto w-full max-w-7xl lg:px-8"></div>
          </div>
        </main>
        <%= partial "partials/footer" %>
      </div>
    </div>
  </body>
</html>
